# {{ ansible_managed }}

[Interface]
Address = 192.168.16.254/24
ListenPort = 31489
PrivateKey = {{ private_key }}

[Peer]
PublicKey = "wTnhdg3jdL0fJfYQBAI4V1WsJxvLoOim5PTTYHXqC1Q="
AllowedIPs = 192.168.16.1

[Peer]
PublicKey = "BJq9N+fMPxyAjuhfIgxzQ9GtzgJ+RlpuZYlIBkZNvmI="
AllowedIPs = 192.168.16.2
