# {{ ansible_managed }}

[Interface]
ListenPort = 31490
PrivateKey = {{ private_key }}

[Peer]
PublicKey = uLbBoVanoe6qio9jWWeLUmt2EImfAUCtt0ErAqooZkc=
AllowedIPs = 192.168.17.1

[Peer]
PublicKey = QDYqygDaSnVDLZ+OVkIoN9D4VsrUll1dAZop5sGG/A0=
AllowedIPs = 192.168.17.2

[Peer]
PublicKey = kWHb8CXbGHBpwpndGnCnmyvYpfFbwIZemhEFcX4kPks=
AllowedIPs = 192.168.17.3

